<launch>ot_

    <arg name="model" default="$(find mycobot_description)/urdf/mycobot_280_m5/mycobot_28_m5_gazebo_ready.urdf"/>
    <arg name="firefighter" default=""/>

    <param name="robot_description" command="cat $(arg model)" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mycobot_description)/rviz_config/mycobot_280.rviz"/>
    <!--<node name="rviz" pkg="rviz" type="rviz" args=""/>-->

</launch>