<launch>

    <!-- Launch Gazebo -->
    <!-- Associate to the robot description parameter, the urdf file that model the robot-->
    <param name="robot_description" textfile = "$(find mycobot_280m5_moveit_ready)/config/gazebo_firefighter.urdf" />

    <!-- Set the position in empty world-->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.04" />

     <!-- Launch Gezabo world in paused-->
    <include file = "$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="true" />
    </include> 

    <!-- Spawn the robot using the package gazebo_ros-->
    <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model"  output="screen" args="-urdf -param robot_description -model cobot -x $(arg x) -y $(arg y) -z $(arg z)" />

    <!-- Load the node controller manager-->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/firefighter" args="joint_state_controller /firefighter/arm_controller">
    </node>

     <!-- Load the controllers-->
    <rosparam command="load" file="$(find mycobot_description)/config/mycobot_280/mycobot_280_joint_states.yaml"/>
    <rosparam command="load" file="$(find mycobot_description)/config/mycobot_280/mycobot_280_trajectory_control.yaml"/>
    <rosparam command="load" file="$(find mycobot_280m5_moveit_ready)/config/ros_controllers.yaml"/>
    <!-- Convert joint states to TF transform for rviz and rqt-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  
            output="screen" respawn="false">
            <remap from="/joint_states" to="/firefighter/joint_states"/>
        
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <remap from="/joint_states" to="/firefighter/joint_states"/>

    <include file= "$(find mycobot_280m5_moveit_ready)/launch/planning_context.launch" >
        <arg name="load_robot_description" value="true" />
    </include>

    <include file= "$(find mycobot_280m5_moveit_ready)/launch/move_group.launch" >
        <arg name="publish_monitored_planning_scene" value="true" />
    </include>

    <include file= "$(find mycobot_280m5_moveit_ready)/launch/moveit_rviz.launch" >
        <arg name="rviz_config" value="$(find mycobot_280m5_moveit_ready)/launch/moveit.rviz" />
    </include>

</launch>